.footer {
    position: relative;
    display: flex;
    background-color: rgba(10, 18, 52, 0.8);
    height: 170px;
    margin-top: -170px;
    font-family: $title-font;
    align-items: center;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
}

.footer__logo {
    width: 200px;
    height: 42px;
    background: url('../../img/top/figure-surface1.png') center center no-repeat;
}

.social__list {
    display: flex;
}

.social__item {
    width:30px;
    height: 30px;
    margin-left: 40px;
    cursor: pointer;
}

.facebook {
    position: relative;
    background: url('../../img/footer/facebook-icon.png') center center no-repeat;
}

.twitter {
    position: relative;
    background: url('../../img/footer/twitter.png') center center no-repeat;
}

.instagram {
    position: relative;
    background: url('../../img/footer/instagram-icon.png') center center no-repeat;
}

.footer__text {
    color: white;
    font-size: 20px;
}